/* margin, padding */
.mt10 { margin-top: 10px !important;}
.mt15 { margin-top: 15px !important;}
.mt20 { margin-top: 20px !important;}
.mt25 { margin-top: 25px !important;}
.mt30 { margin-top: 30px !important;}
.mt35 { margin-top: 35px !important;}
.mt40 { margin-top: 40px !important;}
.mt45 { margin-top: 45px !important;}
.mt50 { margin-top: 50px !important;}
.mt55 { margin-top: 55px !important;}
.mt60 { margin-top: 60px !important;}
.mt65 { margin-top: 65px !important;}
.mt70 { margin-top: 70px !important;}
.mt75 { margin-top: 75px !important;}
.mt80 { margin-top: 80px !important;}
.mt85 { margin-top: 85px !important;}
.mt90 { margin-top: 90px !important;}
.mt95 { margin-top: 95px !important;}
.mt100 { margin-top: 100px !important;}
.mt110 { margin-top: 110px !important;}
.mt120 { margin-top: 120px !important;}
.mt130 { margin-top: 130px !important;}
.mt140 { margin-top: 140px !important;}
.mt150 { margin-top: 150px !important;}

/* SCROLL */
::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background-color: #e5e3df; }
::-webkit-scrollbar-thumb { background: linear-gradient(to bottom, #b57c6c, #ba9a9e);}
::-webkit-scrollbar-button { display: none; }

::selection {
  color: white;
  background-color: #b89ecd;
}

body{
  height: auto;
  background-color: #ebe3db;
  cursor: none;
}
a, button{
  cursor: none;
}
a:hover,
a:visited,
a:focus,
a:active,
button:hover,
button:visited,
button:focus,
button:active{
  cursor: none;
}

.ir {
  display: block;
   width: 0;
   height: 0;
   font-size: 0;
   text-indent: -9999px;
 }
 .container{
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
  height: 100%;
}

.cursor{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  mix-blend-mode: difference;
  background-color: #e3160480;
  transform: translate(-50%, -50%);
  transition: width .3s ease-out, height .3s ease-out;
}
.cursor .ball{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #0d0039;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.cursor .ball:after{
  content: '';
  position: absolute;
  left: 50px;
  top: 50px;
  width: 10px;
  height: 10px;
  background-color: #005dff;
  border-radius: 50%;
  transform-origin: -40px -40px;
  animation: rotate 2.5s infinite linear;
}


@media (max-width: 980px) {
  .pc-br, .only-pc{display: block;}
  .m-br, .only-mo{display: none;}
  .container{max-width: 100%;}
}



@media (max-width: 768px) {
  body{
    cursor: auto;
  }
  a, button{
    cursor: pointer;
  }
  a:hover,
  a:visited,
  a:focus,
  a:active,
  button:hover,
  button:visited,
  button:focus,
  button:active{
    cursor: pointer;
  }

  .pc-br, .only-pc{display: none;}
  .m-br, .only-mo{display: block;}
  .cursor{display: none;}
}



@keyframes rotate {
  0% { transform: rotateZ(0deg);}
  100% { transform: rotate(-360deg);}
}
