@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Raleway:wght@300;500&display=swap");
@font-face {
  font-family: "Canvas";
  src: url(../fonts/MAdeCanvasRegular.otf) format("truetype");
}
/*
 font-family: 'Iropke Batang', serif; 
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Raleway', sans-serif;
     font-family: 'Canvas', sans-serif;
*/
/* 헤더 */
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
header .gnb {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .gnb li {
  display: flex;
  flex-direction: column;
}
header .gnb li.logo a {
  line-height: 1;
  font-size: 3.5rem;
  font-weight: 700;
}
header .gnb li a {
  font-size: 1.8vw;
  color: #543429;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  transition: all 0.7s ease;
}
header .gnb li a em {
  display: block;
  padding-top: 5px;
  font-size: 0.9rem;
  letter-spacing: -0.2px;
  font-family: "Nanum Gothic", sans-serif;
  transition: all 0.7s ease;
}
header .gnb li.right a, header .gnb li.right em {
  text-align: right;
}
header .gnb li:hover a {
  color: #b57c6c;
}
header .gnb li:hover a em {
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  header {
    display: none;
  }
}

.wrap {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.main {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: #e0dace;
}
.main-profile {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: clamp(200px, 100%, 330px);
  height: 100%;
  background: url(../img/center_pic.jpg) no-repeat center center;
  background-size: contain;
  transform: translate(-50%, -50%);
}
.main-profile .figure {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: url(../img/center_pic_cover.png) no-repeat center center;
  background-size: contain;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.main-profile span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  font-size: 5rem;
  color: #fff;
  font-family: "Canvas", sans-serif;
}
.main-profile span.name {
  transform: translate(-130%, -50%);
}
.main-profile span.sub {
  letter-spacing: -4px;
  transform: translate(50%, -50%);
}
.main-rotate {
  position: absolute;
  bottom: 20%;
  right: 14%;
  z-index: 30;
}
.main-rotate button {
  position: absolute;
  top: -15%;
  left: -45%;
  width: 42px;
  height: 42px;
  animation: rotate-btn 0.6s ease;
}
.main-rotate button span.text {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  font-family: "Nanum Gothic", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #b57c6c;
  white-space: nowrap;
  transform-origin: 0 0;
  transform: translateX(20px) rotate(-30deg);
}
.main-rotate button svg {
  display: block;
  width: 42px;
  height: 42px;
  fill: #b57c6c;
}
.main-rotate button svg .star {
  fill: #b57c6c;
  transform-origin: center;
  animation: star 10s ease infinite;
}
.main-rotate ul.advance-list li {
  font-size: 1rem;
  line-height: 1.25;
  font-family: "Iropke Batang", serif;
  color: #543429;
}
.main .btn-story {
  position: absolute;
  top: 63%;
  left: 18%;
  z-index: 20;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: left;
  transform: translateX(calc(var(--mouse-x) * 0.1px)) translateY(calc(var(--mouse-y) * 0.1px));
  background-color: rgba(0, 0, 0, 0) !important;
}
.main .utils-sns {
  position: absolute;
  left: 50%;
  bottom: 3%;
  z-index: 20;
  display: flex;
  gap: 0 60px;
  text-align: center;
  transform: translate(-50%, 0);
}
.main .utils-sns a {
  display: inline-block;
  font-size: 1.2rem;
  color: #777;
  font-family: "Canvas", sans-serif;
  transition: all 0.6s ease;
}
.main .utils-sns a:hover {
  color: #b57c6c;
}
.main .svg-front {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.main .svg-front svg {
  width: 100vw;
  height: 1500px;
}
.main .svg-front svg .st0 {
  stroke: #d9d4c9;
  fill: none;
  stroke-miterlimit: 10;
  width: 100vw;
}
.main .svg-front svg .st1 {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #d9d4c9;
  transform-origin: center;
}
.main .svg-back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.main .svg-back svg {
  width: 90vw;
  height: 100vw;
}
.main .svg-back svg .st2 {
  fill: #A19D94;
}
.main .svg-back svg .st3 {
  stroke: #d9d4c9;
  fill: none;
  stroke-miterlimit: 10;
}
@media (max-width: 980px) {
  .main-profile {
    width: clamp(200px, 100%, 330px);
  }
  .main-profile span {
    font-size: 4rem;
  }
  .main .btn-story {
    left: 16%;
  }
}
@media (max-width: 768px) {
  .main-profile {
    width: clamp(200px, 100%, 85vw);
    transform: translate(-50%, -41%);
  }
  .main-profile span {
    font-size: 3rem;
  }
  .main-profile span.name {
    transform: translate(-50%, -260%);
    font-size: 17vw;
    letter-spacing: -2px;
  }
  .main-profile span.sub {
    transform: translate(-50%, 175%);
    letter-spacing: 0px;
    font-size: 15vw;
  }
  .main-rotate {
    top: 11%;
    right: 10%;
    bottom: auto;
  }
  .main-rotate ul.advance-list li {
    line-height: 1.1;
  }
  .main .btn-story {
    top: 53%;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

.about {
  padding: 80px 0 150px;
}
.about .about-intro {
  display: flex;
}
.about .about-intro .pic-thumb {
  width: 45%;
}
.about .about-intro .pic-thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(85%);
  transition: all 0.6s ease;
}
.about .about-intro .pic-thumb:hover img {
  filter: grayscale(20%);
}
.about .about-intro .context {
  padding: 7% 0 0 7%;
  width: 55%;
  box-sizing: border-box;
}
.about .about-intro .context .point {
  position: relative;
  margin-left: -10px;
  font-size: 14rem;
  font-family: "Canvas", sans-serif;
  line-height: 0.5;
  color: #222;
}
.about .about-intro .context .point:after {
  content: "";
  position: absolute;
  right: -22px;
  bottom: 56px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #222;
}
.about .about-intro .context .title {
  font-size: 2.8rem;
  margin-top: 20px;
  letter-spacing: -2px;
  font-family: "Iropke Batang", serif;
  color: #222;
}
.about .about-intro .context .sub-title {
  display: block;
  padding-top: 27%;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #222;
  letter-spacing: 1px;
}
.about .about-intro .context .desc {
  position: relative;
  width: 68%;
  margin-top: 20px;
  padding-left: 7px;
  font-size: 1rem;
  font-family: "Iropke Batang", serif;
  color: #555;
  line-height: 30px;
}
.about .about-intro .context .desc:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -8px;
  top: -2px;
  width: 20px;
  height: 20px;
  background: rgba(188, 127, 52, 0.1882352941);
}
.about .about-intro .context .desc span {
  display: block;
}
.about-signature {
  padding: 23% 0;
  position: relative;
  font-size: 6rem;
  font-family: "Canvas";
  line-height: 1;
  text-align: center;
  color: #333;
  transition: all 0.6s ease-in-out;
}
.about-signature .word {
  position: relative;
  display: inline-block;
  font-style: italic;
  color: #333;
  transform: translateY(0);
  transition: all 0.6s 0.4s ease-in-out;
}
.about-signature .word:before {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(181, 124, 108, 0.5647058824);
  transition: all 0.5s 0.6s ease-in-out;
}
.about .duty {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 18rem 0;
}
.about .duty-list {
  display: flex;
  justify-content: space-between;
}
.about .duty-list.learn {
  opacity: 0;
}
.about .duty-list.learn .duty-title:before {
  content: "01.";
}
.about .duty-list.learn .duty-title:after {
  content: ":배우다";
}
.about .duty-list.think .duty-title:before {
  content: "02.";
}
.about .duty-list.think .duty-title:after {
  content: ":생각하다";
}
.about .duty-list.create .duty-title:before {
  content: "03.";
}
.about .duty-list.create .duty-title:after {
  content: ":창조하다";
}
.about .duty-title {
  position: relative;
  width: 47%;
  padding-left: 5%;
  font-size: 9rem;
  font-family: "Canvas", serif;
  color: #222;
  letter-spacing: -8px;
}
.about .duty-title:before {
  position: absolute;
  left: -14%;
  top: -50%;
  font-family: "Canvas", serif;
  color: rgba(0, 0, 0, 0.03);
  letter-spacing: 2px;
  font-size: 12rem;
}
@media (max-width: 1025px) {
  .about .duty-title:before {
    left: 0%;
  }
}
.about .duty-title:after {
  position: absolute;
  left: 5px;
  top: 140px;
  font-size: 1.5rem;
  font-family: "Iropke Batang", serif;
  color: #888;
  letter-spacing: 2px;
}
.about .duty-context {
  width: 53%;
}
.about .duty-context.right .sub-tit,
.about .duty-context.right .sub-list li {
  text-align: right;
}
.about .duty-context.right em {
  padding-left: 0;
  padding-right: 10px;
}
.about .duty-context .sub-tit {
  position: relative;
  font-size: 3.5rem;
  line-height: 0.9;
  font-family: "Canvas", serif;
  color: #222;
  letter-spacing: -2.5px;
}
.about .duty-context .sub-tit span {
  display: block;
}
.about .duty-context .sub-tit span strong {
  color: #b57c6c;
}
.about .duty-context .sub-list {
  position: relative;
  margin-top: 60px;
}
.about .duty-context .sub-list:before {
  content: "";
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 1px;
  background: #555;
}
.about .duty-context .sub-list li {
  font-weight: bold;
  font-family: "Iropke Batang", serif;
  font-size: 1rem;
  line-height: 2;
  color: #555;
}
.about .duty-context .sub-list li em {
  padding-left: 10px;
  font-size: 1rem;
  color: #9f9989;
  font-weight: normal;
}
@media (max-width: 980px) {
  .about .duty-title {
    width: 100%;
    font-size: 7.5rem;
  }
  .about .duty-title:before {
    top: -40%;
  }
  .about .duty-title:after {
    left: 70px;
    top: 120px;
  }
  .about .duty-context {
    width: 100%;
  }
  .about .duty-context.right .sub-tit,
  .about .duty-context.right .sub-list li {
    text-align: right;
  }
  .about .duty-context .sub-tit {
    margin-top: 30px;
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .about .about-intro {
    flex-direction: column;
  }
  .about .about-intro .pic-thumb {
    width: 100%;
  }
  .about .about-intro .context {
    padding: 17% 0 0 7%;
    width: 100%;
  }
  .about .about-intro .context .sub-title {
    padding-top: 17%;
  }
  .about-signature {
    padding: 35% 0;
    line-height: 0.75;
  }
  .about-signature .text {
    display: block;
    font-size: 2.5rem;
  }
  .about-signature .word {
    font-size: 4rem;
  }
  .about-signature .word:before {
    top: 82%;
  }
  .about .duty {
    gap: 10rem 0;
  }
  .about .duty-list {
    flex-direction: column;
  }
  .about .duty-title {
    font-size: 6rem;
  }
  .about .duty-title:before {
    top: -60%;
    font-size: 6rem;
  }
  .about .duty-title:after {
    left: 20px;
    top: 100px;
  }
  .about .duty-context {
    margin-top: 80px;
    padding: 0 15px;
  }
  .about .duty-context .sub-tit {
    font-size: 3.2rem;
  }
  .about .duty-context .sub-tit span strong {
    line-height: 1;
  }
  .about .duty-context .sub-list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-top: 60px;
  }
  .about .duty-context .sub-list li {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
}

.project-area .work-list {
  display: flex;
  background-color: #f1dec4;
}
.project-area .work-list:nth-child(2n+1) .work-left {
  background-color: #fff;
}
.project-area .work-list:nth-child(2n+1) .work-right .moving-btn {
  color: #333;
  border: 1px solid #333;
}
.project-area .work-list:nth-child(2n+1) .work-right .moving-btn a {
  color: #333;
}
.project-area .work-list:nth-child(2n+1) .work-right .moving-btn a .handle-dot {
  background-color: #333;
}
.project-area .work-list:nth-child(2n+1) .work-right .moving-btn a .handle-dot:before {
  border: 1px solid #333;
}
.project-area .work-list:nth-child(2n+1) .work-right .moving-btn:before {
  background-color: #333;
}
.project-area .work-list:nth-child(2n+1) .work-right .moving-btn:after {
  border: 1px solid #333;
}
.project-area .work-list:nth-child(2n+1) .work-right .moving-btn:hover a {
  color: #333;
}
.project-area .work-list:nth-child(2n) .work-right {
  background-color: #b17b6a;
}
.project-area .work-list:nth-child(2n) .work-right .text_box .list_num,
.project-area .work-list:nth-child(2n) .work-right .text_box h4.subject,
.project-area .work-list:nth-child(2n) .work-right .text_box .ps,
.project-area .work-list:nth-child(2n) .work-right .text_box .desc {
  color: #fff;
}
.project-area .work-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7% 0;
  width: 50%;
  background-color: #e8d6bb;
}
.project-area .work-left .thumb {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.project-area .work-left .thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project-area .work-left .text-box {
  margin-top: 20px;
}
.project-area .work-left .text-box .title {
  display: block;
  font-size: 5rem;
  color: #222;
  text-align: center;
  font-family: "Canvas", sans-serif;
}
.project-area .work-left .text-box .desc {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Iropke Batang", serif;
}
.project-area .work-right {
  width: 50%;
}
.project-area .work-right .text_box {
  padding-top: 130px;
  padding-left: 16%;
}
.project-area .work-right .text_box .list_num {
  font-size: 0.9rem;
  font-family: "Nanum Gothic", sans-serif;
  text-transform: uppercase;
}
.project-area .work-right .text_box h4.subject {
  margin-top: 30px;
  font-size: 2.8rem;
  font-family: "Canvas", serif;
  letter-spacing: 1px;
  font-weight: bold;
}
.project-area .work-right .text_box .ps {
  display: block;
  padding-top: 10px;
  font-size: 1rem;
  font-family: "Nanum Gothic", sans-serif;
  color: #555;
}
.project-area .work-right .text_box .desc {
  margin-top: 50px;
  width: 75%;
  font-size: 1rem;
  line-height: 28px;
  font-family: "Nanum Gothic", sans-serif;
  padding-bottom: 100px;
}
@media (max-width: 980px) {
  .project-area .work-left .text-box .title {
    font-size: 3.8rem;
  }
  .project-area .work-left .text-box .desc {
    margin-top: 10px;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .project-area .work-list {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .project-area .work-left {
    padding: 22% 0 32%;
    width: 100%;
  }
  .project-area .work-left .text-box {
    position: absolute;
    bottom: 11%;
    left: 50%;
    margin-top: 0;
    transform: translateX(-50%);
  }
  .project-area .work-left .text-box .desc {
    margin-top: 10px;
    font-size: 1.3rem;
  }
  .project-area .work-right {
    width: 100%;
  }
  .project-area .work-right .text_box {
    padding: 80px 0 60px 15%;
  }
  .project-area .work-right .text_box h4.subject {
    font-size: 2.4rem;
  }
  .project-area .work-right .text_box .desc {
    width: 85%;
    padding-bottom: 50px;
    font-size: 0.9rem;
    line-height: 1.6;
  }
  .project-area .work-right .text_box .ps {
    font-size: 0.9rem;
  }
}

.prd-slides {
  padding: 150px 0;
  overflow: hidden;
  background-color: #6c6463;
}
.prd-slides .title-box h3 {
  font-size: 3rem;
  font-family: "Canvas", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}
.prd-slides .title-box .sub-title {
  margin: 30px auto 0;
  width: 50%;
  font-size: 1rem;
  line-height: 30px;
  font-family: "Nanum Gothic", sans-serif;
  color: #c0c0c0;
  text-align: center;
}
.prd-slides .work-wrap {
  margin-top: 120px;
}
.prd-slides .work-wrap .slide-area {
  position: relative;
}
.prd-slides .work-wrap .slide-area .category {
  position: absolute;
  top: 36%;
  left: 5%;
  width: 300px;
  font-size: 3rem;
  line-height: 40px;
  font-family: "Canvas", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  transform: rotate(-90deg);
}
.prd-slides .work-wrap .slide-area .swiper {
  padding-bottom: 50px;
  z-index: 10;
  cursor: col-resize;
}
.prd-slides .work-wrap .slide-area .swiper .swiper-wrapper {
  height: 380px;
  background-color: #6c6463;
}
.prd-slides .work-wrap .slide-area .swiper .swiper-wrapper .swiper-slide {
  width: 360px;
  background: #d9d4c9;
  flex-shrink: 0;
}
.prd-slides .work-wrap .slide-area .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prd-slides .work-wrap .slide-area .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ba9a9e;
}
@media (max-width: 1020px) {
  .prd-slides .work-wrap .slide-area .category {
    left: 0%;
    font-size: 2.3rem;
  }
  .prd-slides .work-wrap .slide-area .swiper {
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .prd-slides .title-box h3 {
    font-size: 1.4rem;
  }
  .prd-slides .title-box .sub-title {
    margin: 15px auto 0;
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.4;
  }
  .prd-slides .work-wrap {
    margin-top: 80px;
  }
  .prd-slides .work-wrap .slide-area {
    padding: 0;
  }
  .prd-slides .work-wrap .slide-area .category {
    top: -44%;
    left: 50%;
    width: 300px;
    font-size: 2.5rem;
    line-height: 0.9;
    transform: rotate(0) translateX(-50%);
  }
}

.skills {
  padding: 150px 0;
}
.skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px 0;
}
.skills .skill li {
  position: relative;
  padding: 5% 2%;
  font-size: 5.3rem;
  font-weight: bold;
  letter-spacing: -9px;
  line-height: 1;
  font-family: "canvas", sans-serif;
  color: #b57d6a;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.skills .skill li .count {
  position: absolute;
  top: 18px;
  right: 4px;
  font-size: 2rem;
  font-weight: normal;
  color: #b17b6a;
  letter-spacing: 0;
  font-family: "Raleway", sans-serif;
}
.skills .skill li .count:after {
  content: "%";
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .skills .skill {
    gap: 160px 0;
  }
  .skills .skill li {
    font-size: 2.8rem;
    letter-spacing: -6px;
  }
  .skills .skill li .count {
    top: -14px;
    font-size: 1.5rem;
  }
  .skills .skill li .count:after {
    font-size: 1rem;
  }
}

.companies {
  padding: 100px 0;
}
.companies .swiper {
  z-index: 10;
}
.companies .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
}
.companies .swiper .swiper-button-next, .companies .swiper .swiper-button-prev {
  color: #b57c6c;
  transition: opacity 0.3s ease-in-out;
}
.companies .swiper .swiper-button-next:after, .companies .swiper .swiper-button-prev:after {
  font-size: 1.6rem;
}
.companies .swiper .swiper-button-next:hover, .companies .swiper .swiper-button-prev:hover {
  opacity: 0.6;
}
.moving-btn {
  position: relative;
  z-index: 9;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  box-sizing: border-box;
  height: 45px;
  width: 185px;
  line-height: 45px;
  background: none;
  transition: all 0.6s 0.3s ease-in-out;
}
.moving-btn a {
  color: #fff;
}
.moving-btn a .text {
  padding-left: 15px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: margin 0.6s 0.1s ease-in-out;
}
.moving-btn a .handle-dot {
  position: absolute;
  display: block;
  height: 23px;
  left: 12px;
  top: 50%;
  width: 23px;
  height: 23px;
  opacity: 0;
  border-radius: 50%;
  background-color: white;
  transform: translateY(-50%);
}
.moving-btn a .handle-dot:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 50%;
  box-sizing: content-box;
  transform: translate(-50%, -50%);
}
.moving-btn:before, .moving-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: white;
  transform: translateY(-50%);
  opacity: 1;
}
.moving-btn:before {
  left: 12px;
  background-color: white;
  transition: left 0.6s ease-in-out;
}
.moving-btn:after {
  left: calc(100% + 10px);
  border: 1px solid white;
  box-sizing: border-box;
  background-color: transparent;
  transition: left 0.6s ease-in-out;
}
.moving-btn.disabled {
  pointer-events: none;
  cursor: default;
  background-color: lightgray;
}
.moving-btn:hover {
  margin-left: 15px;
}
.moving-btn:hover a {
  color: #fff;
}
.moving-btn:hover a .text {
  margin-left: -25px;
}
.moving-btn:hover:before, .moving-btn:hover:after {
  left: calc(100% - 32px);
}

.goodbye {
  padding: 200px 0 0;
  overflow: hidden;
  /*구글지도*/
}
.goodbye .last-profile {
  position: relative;
}
.goodbye .last-profile .center-thumb {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  display: block;
  width: 430px;
}
.goodbye .last-profile .center-thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(50%);
  transition: all 0.6s ease;
}
.goodbye .last-profile .text-box {
  position: absolute;
  right: 2%;
  top: 50%;
  z-index: 6;
  width: 35%;
  transform: translateY(-50%);
}
.goodbye .last-profile .text-box h5 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  color: #fff;
  font-family: "Canvas", sans-serif;
  text-shadow: 3px 3px 1px #ffb5c2;
}
.goodbye .last-profile .text-box h5 strong.rolling {
  color: #b17b6a;
  font-weight: bold;
}
.goodbye .last-profile .text-box .desc {
  margin-top: 40px;
  padding-left: 20%;
  width: 100%;
  font-family: "Iropke Batang", serif;
  color: #8b8b8b;
  font-size: 1rem;
  word-break: keep-all;
  line-height: 1.7;
}
.goodbye .last-profile .bg-red-dot {
  position: absolute;
  top: 6%;
  left: 12%;
  z-index: 1;
  width: 27%;
}
.goodbye .last-profile .bg-blue-dot {
  position: absolute;
  top: 52%;
  right: 12%;
  z-index: 1;
  width: 46%;
}
.goodbye .last-left-img {
  position: absolute;
  top: 27%;
  left: 12%;
  z-index: 8;
  display: block;
  perspective: 600px;
  width: 330px;
}
.goodbye .last-left-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.goodbye .last-left-img .front {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
}
.goodbye .last-left-img .front figcaption {
  left: 50%;
  top: 72%;
}
.goodbye .last-left-img .back {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
}
.goodbye .last-left-img .back figcaption {
  left: 50%;
  top: 72%;
}
.goodbye .last-left-img figcaption {
  display: block;
  position: absolute;
  padding: 3px 15px;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  background: rgba(132, 115, 97, 0.4);
  transform: translate(-50%, 0) translateZ(100px);
}
.goodbye .last-left-img:hover .front {
  transform: rotateY(180deg);
  z-index: 1;
}
.goodbye .last-left-img:hover .back {
  transform: rotateY(0deg);
  z-index: 1;
}
.goodbye .my-info {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.goodbye .my-info dl dt, .goodbye .my-info dl dd {
  font-family: "Iropke Batang", sans-serif;
  color: #4f433d;
  letter-spacing: 1px;
}
.goodbye .my-info dl dt {
  font-size: 1.2rem;
  font-weight: bold;
}
.goodbye .my-info dl dd {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 30px;
}
.goodbye #googleMap {
  position: relative;
  margin-top: 150px;
  width: 100%;
  height: 550px;
}
@media (max-width: 1200px) {
  .goodbye .last-profile .center-thumb {
    width: 360px;
  }
  .goodbye .last-left-img {
    left: 5%;
    width: 300px;
  }
}
@media (max-width: 980px) {
  .goodbye .last-profile .center-thumb {
    width: 450px;
  }
  .goodbye .last-profile .text-box {
    position: relative;
    top: 70px;
    padding: 0 20px;
    width: 100%;
    transform: translateY(0);
  }
  .goodbye .last-profile .text-box h5 {
    font-size: 4rem;
  }
  .goodbye .last-profile .text-box .desc {
    margin-top: 50px;
    padding-left: 0;
    width: 100%;
  }
  .goodbye .last-profile .bg-red-dot {
    top: -6%;
    left: 0;
    width: 57%;
  }
  .goodbye .last-profile .bg-blue-dot {
    top: 29%;
    right: -11%;
    width: 90%;
  }
  .goodbye .last-left-img {
    top: 70px;
    left: 0;
    width: 250px;
  }
}
@media (max-width: 768px) {
  .goodbye .last-profile .center-thumb {
    width: 90vw;
  }
  .goodbye .last-profile .text-box h5 {
    font-size: 2.8rem;
  }
  .goodbye .last-profile .text-box .desc {
    margin-top: 30px;
    padding-left: 0;
    width: 100%;
  }
  .goodbye .last-profile .bg-red-dot {
    top: -8%;
    left: 12%;
    width: 100%;
  }
  .goodbye .last-profile .bg-blue-dot {
    top: 48%;
    right: 12%;
    width: 100%;
  }
  .goodbye .last-left-img {
    display: none;
  }
  .goodbye .my-info {
    margin-top: 38%;
    flex-wrap: wrap;
    gap: 45px 0;
  }
  .goodbye .my-info dl {
    width: 50%;
  }
  .goodbye .my-info dl dd {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}

.contact {
  width: 100%;
  height: 100%;
  padding: 7% 0px;
  background: #b67e6b;
}
.contact .greeting {
  font-family: "Nanum Gothic", sans-serif;
  color: #f1dec4;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 3px;
}
.contact h3.title {
  margin-top: 20px;
  font-size: 3rem;
  font-family: Canvas, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.contact .mail-form {
  position: relative;
  z-index: 10;
  margin: 50px auto 0;
  width: 50%;
}
.contact .mail-form input, .contact .mail-form textarea {
  margin-top: 15px;
  padding: 13px 15px;
  width: 100%;
  color: #9b7b71;
  font-family: "Nanum Gothic", sans-serif;
  border: 1px solid #fff;
  box-sizing: border-box;
  background: #f6f4ee;
}
.contact .mail-form .btn-submit {
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  color: #543429;
  border-radius: 4px;
  background: #f6f4ee;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.contact .mail-form .btn-submit:hover {
  color: white;
  background-color: #5f4626;
}
.contact .mail-sign {
  display: block;
  color: #f1dec4;
  font-size: 1rem;
}
.contact .mail-sign.from {
  margin-top: 10px;
  text-align: right;
}
@media (max-width: 768px) {
  .contact {
    padding: 100px 0;
  }
  .contact .greeting {
    font-size: 1.2rem;
  }
  .contact h3.title {
    font-size: 2.2rem;
  }
  .contact .mail-form {
    width: 100%;
  }
  .contact .mail-sign {
    font-size: 0.9rem;
  }
}

@keyframes rotate-btn {
  0% {
    transform: translate(30px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes star {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=style.css.map */
